body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(139, 139, 139);
  border: 1px solid green;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* HEADER */
header {
  background-color: rgb(107, 107, 107);
  width: 100%;
  border: 1px solid rgb(223, 25, 150);
}

.inner-wrapper {
  display: flex;
  width: 80%;
  flex-direction: row;
  flex-wrap: wrap;
}

/* H1 NEW ALBUMS & SINGELS */
h1 {
  color: rgb(28, 28, 28);
  border: 1px solid red;
}

/* ALBUM  */
/*The big container*/
.parent-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  margin: 20px;
}
/*Albums container wich contains all the div albums */
.album-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 25px;
  justify-content: center;
  margin: 20px;
  height: auto;
  width: 100%;
  border: 2px solid purple;
}
/* Album images */
img {
  height: auto;
  width: 100%;
}
.albumcover{
  position: relative;
}




/* RESPONSIVE DESIGN MOBILE */
@media (min-width: 667px) {
  .parent-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /*justify-content: center;*/
    grid-column-gap: 10px;
    max-width: 668px;
    margin: 10px;
  }
  .icons{
    display: grid;
    grid-template-columns: 1fr;
    /*justify-content: center;*/
    align-items: center;
    height: 70%;
  }
}

/* RESPONSIVE DESIGN TABLET*/
 @media( max-width:1024px ){
  .main-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /*justify-content: center; */
  margin: 20px;
  grid-column-gap: 15px;

  }
  .icons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    height: 70%;
  }

}